In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## import dataset

In [2]:
dataset = pd.read_csv('../../../dataset/simulator/data01.csv')
dataset = dataset.iloc[:, 1:126]

# tX = dataset.iloc[:, 2:124]
# tY = dataset.iloc[:, 125]
# X = dataset.iloc[:, 2:123].values #idや名前は除去(特徴量ではない)
# y = dataset.iloc[:, 125].values #output(0 or 1)

In [3]:
dataset.head()

,GAME,COUNTRY,YEAR,NAPFLT,GOBFLT,SERAMY,NWYAMY,GASAMY,AEGFLT,TUNAMY,...,MARFLT,ROMFLT,EDIAMY,EDIFLT,LONAMY,NAPAMY,NAOFLT,MUNAMY,LONFLT,OUTPUT
0,1,RUS,1901,[],[],[],[],[],[],[],...,[],[],[],[],[],[],[],[],[],4
1,1,AUS,1901,[],[],AUS,[],[],[],[],...,[],[],[],[],[],[],[],[],[],4
2,1,GER,1901,[],[],AUS,[],[],[],[],...,[],[],[],[],[],[],[],[],[],4
3,1,TUR,1901,[],[],AUS,[],[],[],[],...,[],[],[],[],[],[],[],[],[],4
4,1,FRA,1901,[],[],AUS,[],[],[],[],...,[],[],[],[],[],[],[],FRA,[],6

国別に分ける

In [4]:
rus_dataset = dataset[dataset.COUNTRY == 'RUS']
aus_dataset = dataset[dataset.COUNTRY == 'AUS']
ger_dataset = dataset[dataset.COUNTRY == 'GER']
tur_dataset = dataset[dataset.COUNTRY == 'TUR']
fra_dataset = dataset[dataset.COUNTRY == 'FRA']
eng_dataset = dataset[dataset.COUNTRY == 'ENG']
ita_dataset = dataset[dataset.COUNTRY == 'ITA']

In [5]:
eng_dataset.head()

,GAME,COUNTRY,YEAR,NAPFLT,GOBFLT,SERAMY,NWYAMY,GASAMY,AEGFLT,TUNAMY,...,MARFLT,ROMFLT,EDIAMY,EDIFLT,LONAMY,NAPAMY,NAOFLT,MUNAMY,LONFLT,OUTPUT
5,1,ENG,1901,[],[],AUS,[],[],[],[],...,[],[],[],[],[],[],[],FRA,[],3
12,1,ENG,1902,[],RUS,AUS,[],[],TUR,[],...,[],[],[],[],[],[],[],FRA,[],4
19,1,ENG,1903,[],RUS,AUS,[],[],TUR,[],...,[],[],[],[],[],[],[],FRA,[],4
26,1,ENG,1904,[],RUS,AUS,[],FRA,TUR,[],...,[],[],[],[],ENG,[],[],FRA,[],3
33,1,ENG,1905,FRA,RUS,AUS,[],FRA,TUR,[],...,[],[],[],[],ENG,[],[],FRA,[],3

In [6]:
from sklearn.utils import shuffle

In [20]:
data = eng_dataset.iloc[:, 0:125]
data = shuffle(dataset)
# data = data.drop_duplicates('GAME')
# data = data.sort_values('GAME')
tX = data.iloc[:, 3:124]
tY = data.iloc[:,124]
# tY = eng_dataset.drop_duplicates('GAME', keep = 'last').iloc[:,124]

In [21]:
tX.head()

,NAPFLT,GOBFLT,SERAMY,NWYAMY,GASAMY,AEGFLT,TUNAMY,NWYFLT,GASFLT,YORAMY,...,GALAMY,MARFLT,ROMFLT,EDIAMY,EDIFLT,LONAMY,NAPAMY,NAOFLT,MUNAMY,LONFLT
139674,TUR,RUS,RUS,RUS,GER,RUS,[],ENG,ENG,ENG,...,AUS,ENG,TUR,ENG,ENG,ENG,ITA,RUS,GER,ENG
330933,FRA,GER,TUR,RUS,FRA,ITA,[],ENG,FRA,ENG,...,RUS,TUR,FRA,ENG,ENG,ENG,ITA,RUS,FRA,FRA
42550,TUR,RUS,TUR,RUS,FRA,TUR,[],ENG,FRA,ENG,...,AUS,FRA,TUR,ENG,ENG,ENG,AUS,ENG,TUR,ENG
37508,ITA,RUS,AUS,RUS,FRA,ITA,[],RUS,ENG,ENG,...,AUS,ITA,ITA,ENG,RUS,ENG,FRA,ENG,GER,RUS
175656,RUS,GER,AUS,GER,RUS,RUS,[],ENG,FRA,ENG,...,RUS,ITA,ITA,ENG,ENG,ENG,ITA,ENG,GER,ENG

In [22]:
tY.head()

139674    6
330933    3
42550     3
37508     4
175656    6
Name: OUTPUT, dtype: int64

In [23]:
print(tX.shape,tY.shape)

(337561, 121) (337561,)

In [24]:
X = tX.values
y = tY.values

## Encoding categorical data
データの成形を行う

In [25]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

##labelをエンコードする
le = LabelEncoder()
le.fit(['RUS','AUS','GER','TUR','FRA','ENG', 'ITA', '[]'])

for i in range(121):
    X[:, i] = le.transform(X[:, i])

### Gender
# labelencoder_X_2 = LabelEncoder()
# X[:, 2] = labelencoder_X_2.fit_transform(X[:, 2])

In [26]:
onehotencoder = OneHotEncoder()
X = onehotencoder.fit_transform(X).toarray()

##  データセットと学習セットに分ける

In [27]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

# モデルの作成

In [ ]:
from sklearn import svm
# from sklearn.grid_search import GridSearchCV
from sklearn.model_selection import GridSearchCV

In [ ]:
# tuned_parameters = [{'kernel': ['rbf'], 'gamma': [1e-3, 1e-4],
#                      'C': [1, 10, 100, 1000]},
#                     {'kernel': ['linear'], 'C': [1, 10, 100, 1000]}]
# reg = GridSearchCV(svm.SVR(), tuned_parameters, cv=5, scoring='mean_squared_error')
# reg = GridSearchCV(svm.SVR(), tuned_parameters, cv=5, scoring='mean_squared_error')
# reg.fit(X_train, y_train)

# サポートベクトル回帰を学習データ使って作成
reg = svm.SVR(kernel='rbf', C=10).fit(X_train, y_train)

# テストデータに対する予測結果のPLOT
plt.plot(X_test, y_test, 'bo-', X_test, reg.predict(X_test), 'ro-')
plt.show()

print(reg.score(X_test, y_test))

In [ ]:
from sklearn.metrics import mean_squared_error
from math import sqrt
predict = reg.predict(X_test)
print(sqrt(mean_squared_error(y_test, predict)))
print(y_test, predict)

In [18]:
from sklearn.externals import joblib
# 予測モデルを出力
joblib.dump(reg, 'svm.learn')

['svm.learn']