In [10]:
import pandas as pd
import numpy as np
import seaborn as sns
sns.set(style='white', context='notebook', palette='Set2')

import matplotlib.pyplot as plt
%matplotlib inline

In [17]:
dataset = pd.read_csv("../dataset/online-data/dataset.csv")
dataset = dataset.drop(columns=["Unnamed: 0"])

In [18]:
dataset = dataset.replace( '\n', '', regex=True)
dataset = dataset.replace( '\r', ',', regex=True)
dataset = dataset.replace( 'Name: target, dtype: int64', '', regex=True)
dataset = dataset.replace( 'Name: location, dtype: int64', '', regex=True)

In [19]:
dataset = dataset.replace({'Edinburgh': 'EDI', 'Liverpool': 'LVP', 'London': 'LON', 'Marseilles': 'MAR', 'Paris': 'PAR', 'Brest': 'BRE',
       'Venice': 'VEN', 'Rome': 'ROM', 'Naples': 'NAP', 'Munich': 'MUN', 'Berlin': 'BER', 'Kiel': 'KIE', 'Vienna': 'VIE',
       'Trieste': 'TRI', 'Budapest': 'BUD', 'Constantinople': 'CON', 'Ankara': 'ANK', 'Smyrna': 'SMY',
       'Moscow': 'MOS', 'St. Petersburg (South Coast)': '', 'Warsaw': 'WAR', 'Sevastopol': 'SEV',
       'Norwegian Sea': 'NWG', 'Yorkshire': 'YOR', 'North Sea': 'NTH', 'Spain': 'SPA', 'Picardy': 'PIC',
       'Mid-Atlantic Ocean': 'MAO', 'Tyrrhenian Sea': 'TYS', 'Silesia': 'SIL', 'Holland': 'HOL',
       'Albania': 'ALB', 'Serbia': 'SER', 'Bulgaria': 'BUL', 'St. Petersburg': 'STP',
       'Gulf of Bothnia': 'GOB', 'Ukraine': 'UKR', 'Norway': 'NWY', 'Belgium': 'BEL', 'Portugal': 'POR',
       'Piedmont': 'PIA', 'Tunis': 'TUN', 'Galicia': 'GAL', 'Greece': 'GRE', 'Black Sea': 'BLA', 'Finland': 'FIN',
       'Sweden': 'SWE', 'Rumania': 'RUM', 'Helgoland Bight': 'HEL', 'Burgundy': 'BUR',
       'English Channel': 'ENC', 'Tyrolia': 'TYR', 'Ionian Sea': 'IOS', 'Denmark': 'DEN', 'Wales': 'WAL',
       'Irish Sea': 'IRS', 'Armenia': 'ARM', 'St. Petersburg (North Coast)': 'STPNC',
       'North Atlantic Ocean': 'NAO', 'Ruhr': 'RUH', 'Aegean Sea': 'AES', 'Apulia': 'APU',
       'Skagerrack': 'SKA', 'nan': 'NAN', 'Gascony': 'GAS', 'Prussia': 'PRU', 'Barents Sea': 'BAR', 'Bohemia': 'BOH',
       'Adriatic Sea': 'ADS', 'Western Mediterranean': 'WMS', 'Tuscany': 'TUS', 'Baltic Sea': 'BAL',
       'Gulf of Lyons': 'GOL', 'Eastern Mediterranean': 'EMS', 'Spain (North Coast)': 'SPNC',
       'Syria': 'SYR', 'Livonia': 'LIV', 'Clyde': 'CLY', 'Spain (South Coast)': 'SPSC', 'North Africa': 'NAF',
       'Bulgaria (South Coast)': 'BUSC', 'Bulgaria (East Coast)':'BUEC'}, regex=True)

In [20]:
dataset = dataset.replace( ' ', '', regex=True)

In [21]:
dataset.head()

            in                      out1                         out2
0  1901SpringE  EDI3556,LVP3491,LON3371,  EDI24689,LVP24015,LON22896,
1  1901SpringF  PAR3730,MAR3658,BRE3590,  MAR24595,PAR24037,BRE23145,
2  1901SpringI  NAP2417,ROM2272,VEN2118,  NAP24629,ROM22885,VEN22376,
3  1901SpringG  KIE4129,BER3996,MUN3545,  KIE25787,BER24326,MUN22445,
4  1901SpringA  BUD3501,TRI3310,VIE2844,  BUD23956,TRI23018,VIE19703,

In [22]:
dataset.to_csv("new.csv")