In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
sns.set(style='white', context='notebook', palette='Set2')

import matplotlib.pyplot as plt
%matplotlib inline

In [16]:
dataset = pd.read_csv("../dataset/online-data/new_dataset.csv")
dataset = dataset.drop(columns=["Unnamed: 0"])

In [20]:
dataset = dataset.replace( '\n', '', regex=True)
dataset = dataset.replace( '\r', ':', regex=True)
dataset = dataset.replace( ':Name: target, dtype: int64', '', regex=True)
dataset = dataset.replace( ':Name: location, dtype: int64', '', regex=True)
dataset = dataset.replace( ':Name: location, Length: .., dtype: int64', '', regex=True)
dataset = dataset.replace('Series(\[\], Name: location, dtype: int64)', '', regex=True)

In [21]:
dataset = dataset.replace({'Edinburgh': 'EDI', 'Liverpool': 'LVP', 'London': 'LON', 'Marseilles': 'MAR', 'Paris': 'PAR', 'Brest': 'BRE',
       'Venice': 'VEN', 'Rome': 'ROM', 'Naples': 'NAP', 'Munich': 'MUN', 'Berlin': 'BER', 'Kiel': 'KIE', 'Vienna': 'VIE',
       'Trieste': 'TRI', 'Budapest': 'BUD', 'Constantinople': 'CON', 'Ankara': 'ANK', 'Smyrna': 'SMY',
       'Moscow': 'MOS', 'St. Petersburg (South Coast)': '', 'Warsaw': 'WAR', 'Sevastopol': 'SEV',
       'Norwegian Sea': 'NWG', 'Yorkshire': 'YOR', 'North Sea': 'NTH', 'Spain': 'SPA', 'Picardy': 'PIC',
       'Mid-Atlantic Ocean': 'MAO', 'Tyrrhenian Sea': 'TYS', 'Silesia': 'SIL', 'Holland': 'HOL',
       'Albania': 'ALB', 'Serbia': 'SER', 'Bulgaria': 'BUL', 'St. Petersburg': 'STP',
       'Gulf of Bothnia': 'GOB', 'Ukraine': 'UKR', 'Norway': 'NWY', 'Belgium': 'BEL', 'Portugal': 'POR',
       'Piedmont': 'PIA', 'Tunis': 'TUN', 'Galicia': 'GAL', 'Greece': 'GRE', 'Black Sea': 'BLA', 'Finland': 'FIN',
       'Sweden': 'SWE', 'Rumania': 'RUM', 'Helgoland Bight': 'HEL', 'Burgundy': 'BUR',
       'English Channel': 'ENC', 'Tyrolia': 'TYR', 'Ionian Sea': 'IOS', 'Denmark': 'DEN', 'Wales': 'WAL',
       'Irish Sea': 'IRS', 'Armenia': 'ARM', 'St. Petersburg (North Coast)': 'STPNC',
       'North Atlantic Ocean': 'NAO', 'Ruhr': 'RUH', 'Aegean Sea': 'AES', 'Apulia': 'APU',
       'Skagerrack': 'SKA', 'nan': 'NAN', 'Gascony': 'GAS', 'Prussia': 'PRU', 'Barents Sea': 'BAR', 'Bohemia': 'BOH',
       'Adriatic Sea': 'ADS', 'Western Mediterranean': 'WMS', 'Tuscany': 'TUS', 'Baltic Sea': 'BAL',
       'Gulf of Lyons': 'GOL', 'Eastern Mediterranean': 'EMS', 'Spain (North Coast)': 'SPNC',
       'Syria': 'SYR', 'Livonia': 'LIV', 'Clyde': 'CLY', 'Spain (South Coast)': 'SPSC', 'North Africa': 'NAF',
       'Bulgaria (South Coast)': 'BUSC', 'Bulgaria (East Coast)':'BUEC'}, regex=True)

In [22]:
dataset = dataset.replace( ' ', '', regex=True)

In [23]:
dataset

,in,out1,out2
0,1901SpringE0,EDI3556:LVP3491:LON3371,EDI24689:LVP24015:LON22896
1,1901SpringE9,"Series([],Name:location,dtype:int64)","Series([],Name:location,dtype:int64)"
2,1901SpringE41,"Series([],Name:location,dtype:int64)","Series([],Name:location,dtype:int64)"
3,1901SpringE4,"Series([],Name:location,dtype:int64)","Series([],Name:location,dtype:int64)"
4,1901SpringF0,PAR3730:MAR3658:BRE3590,MAR24595:PAR24037:BRE23145
5,1901SpringF9,"Series([],Name:location,dtype:int64)","Series([],Name:location,dtype:int64)"
6,1901SpringF41,"Series([],Name:location,dtype:int64)","Series([],Name:location,dtype:int64)"
7,1901SpringF4,"Series([],Name:location,dtype:int64)","Series([],Name:location,dtype:int64)"
8,1901SpringI0,NAP2417:ROM2272:VEN2118,NAP24629:ROM22885:VEN22376
9,1901SpringI9,"Series([],Name:location,dtype:int64)","Series([],Name:location,dtype:int64)"
10,1901SpringI41,"Series([],Name:location,dtype:int64)","Series([],Name:location,dtype:int64)"
11,1901SpringI4,"Series([],Name:location,dtype:int64)","Series([],Name:location,dtype:int64)"
12,1901SpringG0,KIE4129:BER3996:MUN3545,KIE25787:BER24326:MUN22445
13,1901SpringG9,"Series([],Name:location,dtype:int64)","Series([],Name:location,dtype:int64)"
14,1901SpringG41,"Series([],Name:location,dtype:int64)","Series([],Name:location,dtype:int64)"
15,1901SpringG4,"Series([],Name:location,dtype:int64)","Series([],Name:location,dtype:int64)"
16,1901SpringA0,BUD3501:TRI3310:VIE2844,BUD23956:TRI23018:VIE19703
17,1901SpringA9,"Series([],Name:location,dtype:int64)","Series([],Name:location,dtype:int64)"
18,1901SpringA41,"Series([],Name:location,dtype:int64)","Series([],Name:location,dtype:int64)"
19,1901SpringA4,"Series([],Name:location,dtype:int64)","Series([],Name:location,dtype:int64)"
20,1901SpringT0,CON5368:SMY5219:ANK3235,CON25695:SMY24653:ANK14744
21,1901SpringT9,"Series([],Name:location,dtype:int64)","Series([],Name:location,dtype:int64)"
22,1901SpringT41,"Series([],Name:location,dtype:int64)","Series([],Name:location,dtype:int64)"
23,1901SpringT4,"Series([],Name:location,dtype:int64)","Series([],Name:location,dtype:int64)"
24,1901SpringR0,STP(SouthCoast)4950:MOS4923:WAR4311:SEV2546,STP(SouthCoast)24342:MOS24302:WAR21149:SEV13631
25,1901SpringR9,"Series([],Name:location,dtype:int64)","Series([],Name:location,dtype:int64)"
26,1901SpringR41,"Series([],Name:location,dtype:int64)","Series([],Name:location,dtype:int64)"
27,1901SpringR4,"Series([],Name:location,dtype:int64)","Series([],Name:location,dtype:int64)"
28,1901FallE0,NTH3132:NWG2226:YOR1685:EDI1000:ENC879:WAL398:...,NTH19995:NWG13846:YOR10898:EDI6734:ENC5384:LON...
29,1901FallE9,"Series([],Name:location,dtype:int64)","Series([],Name:location,dtype:int64)"
...,...,...,...
1146,1921SpringR41,BER1:CLY1:NWG1:AES1:BAL1:GRE1:GOB1:NWY1,BER1:CLY1:NWG1:AES1:BAL1:GRE1:GOB1:NWY1
1147,1921SpringR4,"Series([],Name:location,dtype:int64)","Series([],Name:location,dtype:int64)"
1148,1921FallE0,"Series([],Name:location,dtype:int64)","Series([],Name:location,dtype:int64)"
1149,1921FallE9,"Series([],Name:location,dtype:int64)","Series([],Name:location,dtype:int64)"
1150,1921FallE41,"Series([],Name:location,dtype:int64)",YOR1:SKA1:EDI1:HEL1
1151,1921FallE4,"Series([],Name:location,dtype:int64)","Series([],Name:location,dtype:int64)"
1152,1921FallF0,"Series([],Name:location,dtype:int64)","Series([],Name:location,dtype:int64)"
1153,1921FallF9,"Series([],Name:location,dtype:int64)","Series([],Name:location,dtype:int64)"
1154,1921FallF41,"Series([],Name:location,dtype:int64)",BUR1:RUH1:HOL1:MAR1:PIA1
1155,1921FallF4,"Series([],Name:location,dtype:int64)","Series([],Name:location,dtype:int64)"
1156,1921FallI0,"Series([],Name:location,dtype:int64)","Series([],Name:location,dtype:int64)"
1157,1921FallI9,"Series([],Name:location,dtype:int64)","Series([],Name:location,dtype:int64)"
1158,1921FallI41,"Series([],Name:location,dtype:int64)",NAP1
1159,1921FallI4,"Series([],Name:location,dtype:int64)","Series([],Name:location,dtype:int64)"
1160,1921FallG0,"Series([],Name:location,dtype:int64)","Series([],Name:location,dtype:int64)"
1161,1921FallG9,"Series([],Name:location,dtype:int64)","Series([],Name:location,dtype:int64)"
1162,1921FallG41,"Series([],Name:location,dtype:int64)","Series([],Name:location,dtype:int64)"
1163,1921FallG4,"Series([],Name:location,dtype:int64)","Series([],Name:location,dtype:int64)"
1164,1921FallA0,"Series([],Name:location,dtype:int64)","Series([],Name:location,dtype:int64)"
1165,1921FallA9,BUR1:GAL1:LIV1:HOL1:SPA1:NTH1:RUH1:UKR1:PIC1:S...,BUR1:GAL1:LIV1:HOL1:SPA1:NTH1:RUH1:UKR1:PIC1:S...
1166,1921FallA41,"Series([],Name:location,dtype:int64)",ADS1:MUN1:TYR1:KIE1:ALB1:VEN1:TRI1:APU1
1167,1921FallA4,"Series([],Name:location,dtype:int64)","Series([],Name:location,dtype:int64)"
1168,1921FallT0,"Series([],Name:location,dtype:int64)","Series([],Name:location,dtype:int64)"
1169,1921FallT9,"Series([],Name:location,dtype:int64)","Series([],Name:location,dtype:int64)"
1170,1921FallT41,"Series([],Name:location,dtype:int64)","Series([],Name:location,dtype:int64)"
1171,1921FallT4,"Series([],Name:location,dtype:int64)","Series([],Name:location,dtype:int64)"
1172,1921FallR0,"Series([],Name:location,dtype:int64)","Series([],Name:location,dtype:int64)"
1173,1921FallR9,"Series([],Name:location,dtype:int64)",STP1:GOB1:SWE1:BAR1
1174,1921FallR41,BER1:SIL1:EMS1:NTH1:SWE1:LVP1:BAL1:GRE1:GOB1:BAR1,BER1:SIL1:EMS1:NTH1:SWE1:LVP1:BAL1:GRE1:GOB1:BAR1
1175,1921FallR4,"Series([],Name:location,dtype:int64)","Series([],Name:location,dtype:int64)"

In [24]:
dataset.to_csv("new.csv")