In [2]:
import pandas as pd
import numpy as np

In [3]:
games = pd.read_csv("../dataset/online-data/games.csv")
units = pd.read_csv("../dataset/online-data/units.csv")
orders = pd.read_csv("../dataset/online-data/orders.csv")
turns = pd.read_csv("../dataset/online-data/turns.csv")
players = pd.read_csv("../dataset/online-data/players.csv")

## データセットの確認
|data|features|
|---- | ----|
| games | ゲームのid, ターン数, プレイヤー数|
| players | ゲームのid, プレイヤーid, 勝利, 補給地の数, 敗退, 開始ターン, 終了ターン|
| units | ゲームid, 国id, タイプ, 開始ターン, 終了ターン, ユニットid|
| turns | ゲームid, ターンid, フェーズ, 年, 各国の補給地の数|
| orders | ゲームのid, ユニットのid, オーダーの種類, 現在地, 目的地, 目標(convoy, support), 成功, 理由, ターンid|

In [8]:
orders.head()

,game_id,unit_id,unit_order,location,target,target_dest,success,reason,turn_num
0,114417,0,MOVE,Edinburgh,Norwegian Sea,NaN,1,NaN,1
1,114417,1,MOVE,Liverpool,Yorkshire,NaN,1,NaN,1
2,114417,2,MOVE,London,North Sea,NaN,1,NaN,1
3,114417,3,MOVE,Marseilles,Spain,NaN,1,NaN,1
4,114417,4,MOVE,Paris,Picardy,NaN,1,NaN,1

## データ分析
### 戦略1
勝った時の手を用いる。
年、国ごとにユニットの位置を頻度で求める

1. playersからgame_id, player_id, 勝利を抽出
2. game_id, player_id, 勝利からunit_idを抽出
3. game_id, unit_idからordersを抽出

### イギリス